<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<div class="kpi-card">
    <div class="kpi-title">{{titulo}}</div>
    <div class="kpi-value">{{valor}}</div>
    <div class="sparkline-container">
        <img src="{{sparkline_base64}}">
    </div>
    <div class="kpi-variation-container">
        <span class="{{cor_variacao}} font-bold">{{variacao_texto}}</span>
    </div>
</div>